# ────────────────
# 📁 IDE and system
# ────────────────
.vscode/
*.vscode
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace

# ────────────────
# 📂 Visual Studio trash
# ────────────────
*.VC.db
*.VC.opendb
*.ipch
*.tlog
*.lastbuildstate
*.ilk
*.iobj
*.iopt
*.pch
*.idb
*.aps
*.ncb
*.log

# ────────────────
# 🔐 Secret
# ────────────────
*.env
.env.*
*.pem
*.key
*.crt

# ────────────────
# 📦 Node / JS
# ────────────────
node_modules/
